@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

/* body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */
.custom-scrollbar::-webkit-scrollbar {
  width: 0px; /* This will hide the scrollbar in webkit browsers */
  display: none; /* This will hide the scrollbar in Firefox */
  margin-top: 10px;
}

.btn {
  @apply bg-[#228B22] text-white px-4 py-2 rounded-full;
}
h1 {
  @apply font-bold capitalize text-xl mb-2;
}
h2 {
  @apply font-semibold text-black/65 capitalize text-lg;
}
.header-text {
  /* font-family: Sora; */
  font-size: 32.67px;
  font-weight: 500;
  line-height: 39.2px;
  text-align: center;
}
.header-text-lg {
  /* font-family: Sora; */
  font-size: 50px;
  font-weight: 800;
  line-height: 60px;
  text-align: center;
}
.hero-form-text {
  /* font-family: Sora; */
  font-size: 18.41px;
  /* font-weight: 500; */
  line-height: 23.2px;
  text-align: center;
}
.hero-search {
  width: 344px;
  height: 53px;
  padding: 7.92px 15.84px 7.92px 27.73px;
  gap: 18px;
  border-radius: 100px 0px 0px 0px;
  opacity: 0px;
}
.hero-small {
  font-family: Instrument Sans;
  font-size: 18.24px;
  font-weight: 100;
  line-height: 22.25px;
  text-align: center;
}
input,
select,
textarea {
  @apply border py-3 w-full my-3 rounded-xl px-5;
}
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
